:root {
    --red: #950529;
    --yellow: #ffaf15;
    --blue: #1b185f;
    --bkg: #dbdae2;
    --frg: #1b185f;
}

/* -------------- */
/* normalizing rules */
/* -------------- */

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: var(--bkg)
}

img {
    max-width: 100%;
}

/* -------------- */
/* Page Sections  */
/* -------------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

main {
    padding: 50px;
}

footer {
    border-top: 1px solid black;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
}

body {
    background-color: var(--bkg);
    color: var(--frg);
}

/* -------------- */
/* buttons */
/* -------------- */

.options {
    text-align: right;
}

.button {
    display: inline-block;
    padding: 6px 10px;
    border: 2px solid var(--frg);
    color: var(--frg);
    transition: background-color 0.3s;
}

.button:hover {
    border: 5px solid var(--frg);
    background-color: #484488;
    color: var(--bkg);
}

.button.active {
    background-color: var(--frg);
    color: var(--bkg);
}

.title h1,
.logos img,
.funding h3 {
    cursor: pointer;
}

/* -------------- */
/* tiles grid */
/* -------------- */

.tiles .letter-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 40px;
    margin-bottom: 50px;
}

figure {
    margin: 0;
    text-align: center;
}

.top-terminal {
    align-self: flex-end;
}

/* -------------- */
/* ' a i ' design  */
/* -------------- */

.type {
    display: flex;
    justify-content: center;
}


.type .letter-tiles {
    grid-gap: 0px;
    grid-template-columns: repeat(6, 120px);
}

.type .top-terminal {
    align-self: flex-start;
}

.type .tile {
    width: 120px;
    height: 120px;
    font-size: 14px;
    /*flipping*/
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.type figcaption,
.type img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*flipping*/
    position: absolute;
    backface-visibility: hidden;
}

.type figcaption {
    /*display: none;*/
    transform: rotateY(180deg);
}

.type .top-terminal figcaption {
    height: 60px;
}

/* label background colors */
.type .yellow {
    background-color: var(--yellow);
}

.type .red {
    background-color: var(--red);
    color: rgba(255, 248, 229, 0.906);
    text-shadow: 1px 1px 0px var(--red);
}

.type .blue {
    background-color: var(--blue);
    color: rgba(255, 248, 229, 0.906);
    text-shadow: 1px 1px 0px var(--blue);
}

/* corners */
.type .border figcaption {
    background-color: transparent;
    border: 60px solid transparent;
    height: 0;
}

.type .top-right figcaption {
    border-top-color: var(--yellow);
    border-right-color: var(--yellow);
}

.type .bottom-right figcaption.red {
    border-bottom-color: var(--red);
    border-right-color: var(--red);
}

.type .bottom-right figcaption.yellow {
    border-bottom-color: var(--yellow);
    border-right-color: var(--yellow);
}

.type .bottom-left figcaption.red {
    border-bottom-color: var(--red);
    border-left-color: var(--red);
}

.type .bottom-left figcaption.blue {
    border-bottom-color: var(--blue);
    border-left-color: var(--blue);
}

.type .top-left figcaption {
    border-top-color: var(--blue);
    border-left-color: var(--blue);
}